<html>
  <head>
    {% if title %}
    <title>{{title}} </title>
    {% else %}

    <title>PlayShortFlix</title>
    {% endif %}


  </head>
  <body>

    <div>PlayShortFlix:
        <a href="{{ url_for('index') }}">Home</a>
        | <a href="/films">See All Films </a>
        | <a href="/playlists">See All Playlists </a>
        {% if g.user.is_authenticated() %}
        | <a href="{{ url_for('user', nickname = g.user.nickname) }}">Your Profile</a>
        | <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>