<!-- extend base layout -->


{% extends "base.html" %}
   {% block content %}
            <h1>All Playlists and Films </h1>	


  <center>
    {% for playlist in playlists %} 
        <h2> {{ playlist.title }}  </h2>
             {% for entry in playlist.playlist_entries %}
                {{ entry }}
                {% for film in entry.films %}
                    {{ film.title }} <br>
                    {{ film.embed }}
                {% endfor %}
            {% endfor %}
    {% endfor %}


  </center>

{% endblock %}